/******************* common style*****/

div.navbtm {
	display: none;
	margin: 0em auto;
	border-left: transparent auto;
	border-right: transparent auto;
	overflow: hidden;
	position: fixed;
	bottom: 0px;
	/*background-color: #FFF66F;*/
	width: 100%;
	padding: 0.2em;
}

div.content {
	position: fixed;
	width: 100%;
	height: 90%;
	top: 5%;
	padding-top: 5%;
	padding-bottom: 10%;
}

.nav {

	position: absolute;
	top: 0%;
	left: 10%;
	width: 80%;
}

footer {
	TEXT-ALIGN: center;
	display: block;
	margin: auto;
}

body {
	background-color: #F05555;
	COLOR: #99ffff;
	TEXT-ALIGN: justify;
	padding: 0.2em;
	font: normal 100%, "Arial Black", "Arial Narrow";
}

.col, .monocol {
	TEXT-ALIGN: justify;
	margin: 0em auto;
	border-left: transparent auto;
	border-right: transparent auto;
	overflow-y: auto;
}

.col, .monocol {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(204, 255, 255,0.5);
}

.monocol {
	width: 80%;
}

p {
	padding: 0em 0.3em 0.2em;
	line-height: 130%
}

img {
	max-width: 100%;
}
hr {
	border: 1px dotted #FFFFFF;
	width: 80%;
}

h1 {
	font-size: 1.2em;
	font-style: italic;
	font-weight: normal;
	padding: 0.2em;
}

h2 {
	font-size: 1.1em;
	font-style: italic;
	font-weight: normal;
	padding: 0.2em;
}

a.menubtm {
	color: #000000;
}
a.onbtm {
	color: #CC66FF;
}

h6 {
	text-align: center;
}

/******************Menu****************/
a.menu:hover {
	/*background:#E0E0E0 ;*/
}
a.menu:active {
	background: #FFFFFF;
}/* selected link */

ul.menu {
	list-style-type: none;
	padding: 0em;
	overflow: hidden;
	margin: 0em auto;
	border-left: transparent auto;
	border-right: transparent auto;
	text-align: center;
}
li.menu {
	display: inline;
}
a.menup {

	display: block;
	width: 200px;
	background-color: #E8E8E8;
	text-decoration: none;
	line-height: 120%;
	font-size: 1.2em;
	padding: 0.2em;
	margin: 0.2em;
	text-align: center;
	color: #3312FF;
	border-radius: 15%;
	-webkit-box-shadow: inset 0 0 20px rgba(51, 204, 255, 0.8);
}
.onup {

	display: block;
	width: 200px;
	background-color: #E8E8E8;
	text-decoration: none;
	line-height: 120%;
	font-size: 1.2em;
	padding: 0.2em;
	margin: 0.2em;
	text-align: center;
	color: #CC44FF;
	border-radius: 15%;
	-webkit-box-shadow: inset 0 0 20px rgba(179, 255, 255, 0.8);
}
/********************end of Menu*******************/

/****************** specific to  the welcome page***********/

#signature {
	text-align: left;
}

@media screen and (max-width: 450px)
 {
	/*swapping navigation bars*/
	.nav, hr {
		display: none;
	}

	div.content {

		position: fixed;
		width: 100%;
		height: 80%;
		top: 0%;
		padding-top: 5%;
		padding-bottom: 10%;
	}

	div.navbtm {

		display: block;
		width: 100%;
	}

	button.menubtm {
		min-width: 8em;
		padding: 0.2em 0em;
		font-style: italic;
	}
	footer {
		padding-bottom: 0.3em,

		}
		/*end of swapping navigation bars*/

		body{background-color: darkred;
		margin: 0;
		font-size: 0.8em;
	}
	.logo {
		max-width: 358px;
		min-width: 110px;
		width: 70%;
	}

	p {
		text-indent: 0.2em;
		padding-bottom: 0.2em;
	}

	.col {
		-moz-column-count: 1; /* Firefox */
		-webkit-column-count: 1; /* Safari and Chrome */
		column-count: 1;
		-moz-column-gap: 30px; /* Firefox */
		-webkit-column-gap: 30px; /* Safari and Chrome */
		column-gap: 30px;
		-moz-column-rule: 0.2em outset #ffffff; /* Firefox */
		-webkit-column-rule: 0.2em outset #ffffff; /* Safari and Chrome */
		column-rule: 0.2em outset #ffffff;
		TEXT-ALIGN: justify;
		width: 80%;
	}

}
@media screen and (min-width: 451px) and (max-width: 1149px) {
	body {
		background-color: #006600;
	}

	/*swapping navigation bars*/
	.nav, hr {
		display: none;
	}

	div.content {

		position: fixed;
		width: 100%;
		height: 80%;
		top: 0%;
		padding-top: 5%;
		padding-bottom: 10%;
	}

	div.navbtm {

		display: block;
		width: 100%;
	}

	button.menubtm {
		min-width: 10em;
		padding: 0.2em 0.1em;
		font-style: italic;
	}
	footer {
		padding-bottom: 0.3em,
		}
		/*end of swapping navigation bars*/

		.col{
		-moz-column-count: 2; /* Firefox */
		-webkit-column-count: 2; /* Safari and Chrome */
		column-count: 2;
		-moz-column-gap: 30px; /* Firefox */
		-webkit-column-gap: 30px; /* Safari and Chrome */
		column-gap: 30px;
		-moz-column-rule: 0.2em outset #ffffff; /* Firefox */
		-webkit-column-rule: 0.2em outset #ffffff; /* Safari and Chrome */
		column-rule: 0.2em outset #ffffff;
		TEXT-ALIGN: justify;
		width: 90%;
	}

	p {
		text-indent: 0.5em;
		padding-bottom: 0.5em;
	}

}

@media screen and (min-width: 600px) and (max-width: 1149px) {
	body {
		background-color: purple;
	}
	footer {
		width: 550px;
	}

	.col {
		-moz-column-count: 3; /* Firefox */
		-webkit-column-count: 3; /* Safari and Chrome */
		column-count: 3;
		-moz-column-gap: 40px; /* Firefox */
		-webkit-column-gap: 40px; /* Safari and Chrome */
		column-gap: 40px;
		-moz-column-rule: 4px outset #ffffff; /* Firefox */
		-webkit-column-rule: 4px outset #ffffff; /* Safari and Chrome */
		column-rule: 4px outset #ffffff;
		width: 550px;
		width: 95%;
	}

	p {
		text-indent: 0.5em;
		padding-bottom: 0.5em;
	}

	ul.menu {
		overflow: hidden;
	}

	a.menu {
		font-size: 1.4em;
		font-style: italic;
		font-weight: normal;
		padding: 12px;
		width: 25%;
		background-color: #F0F0F0;
	}

}

@media screen and (min-width: 1150px) and (max-width: 1499px) {

	img {
		max-width: 150%;
		padding: 0em;
	}
	body {
		background-color: black;
		margin: 0;
		padding: 0;
		border: none;
	}

	footer {
		width: 1100px;
		padding-bottom: 2em;
	}
	.nav {
		/*background-color: white;*/
		position: absolute;
		top: 0%;
		right: 10%;
		width: 80%;
		/*
		 margin: 0 auto;
		 border-left: transparent auto;
		 border-right: transparent auto;
		 overflow: hidden;
		 width: 1100px;*/
	}

	.col {
		-moz-column-count: 3; /* Firefox */
		-webkit-column-count: 3; /* Safari and Chrome */
		column-count: 3;
		-moz-column-gap: 40px; /* Firefox */
		-webkit-column-gap: 40px; /* Safari and Chrome */
		column-gap: 40px;
		-moz-column-rule: 4px outset white; /* Firefox */
		-webkit-column-rule: 4px outset white; /* Safari and Chrome */
		column-rule: 4px outset white;
		width: 95%;
	}

	ul.menu {
		overflow: hidden;
	}
	li.menu {
		float: left;
		display: inline;
		width: 25%;
	}
	a.menu {
		font-size: 1.5em;
		font-style: italic;
		font-weight: normal;
		background-color: #F05555;
	}
	a.menu:active {
		background: #F0F0F0;
	}

}

@media screen and (min-width: 1500px) {

	img {
		max-width: 130%;
		padding: 0em;
	}
	body {
		background-color: #990000;
		margin: 0;
		padding: 0;
		border: none;
	}

	footer {
		width: 1350px;
		padding-bottom: 2em;
	}

	p {

	}
	.nav {
		margin: 0 auto;
		border-left: transparent auto;
		border-right: transparent auto;
		overflow: hidden;
		width: 1350px;
	}

	.col {
		-moz-column-count: 3; /* Firefox */
		-webkit-column-count: 3; /* Safari and Chrome */
		column-count: 3;
		-moz-column-gap: 40px; /* Firefox */
		-webkit-column-gap: 40px; /* Safari and Chrome */
		column-gap: 40px;
		-moz-column-rule: 4px outset white; /* Firefox */
		-webkit-column-rule: 4px outset white; /* Safari and Chrome */
		column-rule: 4px outset white;
		width: 98%;
	}
	p {
		text-indent: 0.5em;
		padding-bottom: 1em;
	}

	ul.menu {
		overflow: hidden;
	}
	li.menu {
		float: left;
		display: inline;
	}
	a.menu {
		font-size: 1.5em;
		font-style: italic;
		font-weight: normal;
		padding: 0.5em;
		width: 250px;
		background-color: #F0F0F0;
	}
	a.menu:active {
		background: #F0F0F0;
	}

}